body{
  font-family: 'Hind Siliguri', sans-serif;
}

.quote {
  background-image: url('../Images/quoteBG.jpg');
  min-height: 400px;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a  button{
  text-decoration: none;
  color: #fff;
}
.formDiv{
  background-image: url('../Images/searchDiv.jpg');
  min-height: 200px;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fnqTitle{
  padding:20px;
  text-align: center;
}
.box{
 border: 2px solid #DFDFDF;
 border-radius: 6px;
 box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
 0 12px 17px 2px rgba(0, 0, 0, 0.14),
 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.footer-basic {
  left: 0;
  bottom: 0;
  width: 100%;
  padding:40px 0;
  background-color:#ED5565;
  color:#4b4c4d;
  }
  @media only screen and (max-width: 1260px) {
    .footer-basic {
      position:relative;
      }
  }
  .form-group{
    text-align:left;

  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    background-color: red;
    color: white;
  }
  .footer-basic .social .facebook:hover {
    background-color: #4267B2;
    color: white;
  }
  .footer-basic .social .whatsapp:hover {
    background-color: #25D366;
    color: white;
  }
  .footer-basic .social .insta:hover {
    background-color: #833ab4;
    color: white;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .breadcrumb{
    background-color:#ED5565;
    }
  .breadcrumb a{
      margin: auto;
      text-decoration: none; 
      color:#fff;
 }

 #upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}


/* Blog */
.feature-card {
  width: 380px;
  height: 450px;
  margin: 50px auto;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
}

.feature-card-tilte {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  padding: 20px;
  background: #fff;
}

.feature-card-tilte h3 {
  font-size: 22px;
  font-weight: 700;
  color: #373737;
}

.feature-card:hover .feature-card-tilte{
bottom: -100px;
}

.feature-card-deatails {
  position: absolute;
  bottom: -228px;
  left: 0;
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.3s ease-in-out;
  font-size: 15px;
  color: #888;
}

.feature-card-deatails p{
  
  color:black;
}

.feature-card-deatails h4 {
  font-size: 20px;
  color: #1d365c;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
}


.feature-card:hover .feature-card-deatails {
  bottom: 0;
}


/* Image upload  */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
/* .avatar-upload .avatar-edit input + label:after {
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
} */

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
