body {
  font-family: "Inter", sans-serif;
}
.faq-container {
  margin-top: 64px;
  margin-bottom: 64px;
}
.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #23262f;
  margin-bottom: 64px;
}
.accordion-item {
  padding-bottom: 16px;
  border: none;
}
.accordion-button {
    background-color: transparent;
    font-weight: 600;
    color: #23262f;
  }
  
.accordion-button:not(.collapsed) {
  background-color: transparent;
  font-weight: 700;
  color: #f1458d;
}
