body {
  font-family: "Inter", sans-serif;
}
.filter-options {
  padding: 24px;
  border-right: 1px solid #cbcbcb;
}
.title-filter {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.options-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.checkbox-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.form-check {
  width: 150px;
}
.form-check-input {
  box-shadow: none;
}
input[type="checkbox"].form-check-input:checked {
  background-color: #f1458d;
  border-color: #f1458d;
}

.filter {
  margin-top: 64px;
  margin-bottom: 64px;
}
.bio-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-bottom: 24px;
}
.shortlist {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
}
.image-container {
  border-radius: 10px;
  overflow: hidden;
}
.upper {
  padding: 0px;
  gap: 16px;
}
.basic-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #23262f;
}
.id {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #23262f;
  opacity: 0.32;
}
.location {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #f1458d;
}
hr.solid {
  width: 100%;
  border-top: 1px solid #cbcbcb;
}

.middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.first-info {
  width: 100%;
}
.second-info {
  width: 100%;
}
.info-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.49);
}
.info-value {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #23262f;
}
.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
/* .shortlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  gap: 4px;
  height: 36px;
  border: 1px solid #f1458d;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f1458d;
} */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 4px;
  height: 36px;
  background: #f1458d;
  border: 1px solid #f1458d;
  border-radius: 4px;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
