.hero-section-content {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #23262f;
  max-width: 546px;
  width: 100%;
}
.hero-section-count {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
}
.hero-section-count-span {
  color: #e6e8ec;
}
.slider-section {
  margin-top: 64px;
}
.slider-image-container {
  border-radius: 16px;
  overflow: hidden;
}
.slider-arrow {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.arrows {
  display: flex;
  gap: 20px;
}
.slider-content p {
  max-width: 547px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #777e90;
}
