.form-tab {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  width: 166px;
  height: 44px;
  background: #ffe6f0;
  border-radius: 5px;
}
.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  width: 166px;
  height: 44px;
  border-radius: 5px;
}
.tab-link-active {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #f1458d;
  text-decoration: none;
}
.tab-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #26161d;
}
.tab:hover {
  background: #fff1f7;
  transition: 0.1s ease-in-out;
}
@media screen and (max-width: 767px) {
  .form-tab {
    width: 100%;
    overflow: scroll;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
